---
import Layout from '../layouts/Layout.astro';
import Showcase from '../components/Showcase.astro';
import Card from '../components/Card.astro';
const posts = await Astro.glob('../posts/*.md')
---

<Layout title="blog">
    <Showcase heading="Astro blog"/>
    <section class="page-content">
        <div class="container">
            {posts.map(post =>(
                <Card>
                    <h3>{post.frontmatter.title}</h3>
                    <p>{post.frontmatter.exerpt}</p>   
                    <a class="btn" href={`/${post.frontmatter.slug}`}>Scopri</a> 
                </Card>
            ))}
        </div>
    </section>

</Layout>